<%-include('../partials/header.ejs')-%>

<%-include('../partials/navbar.ejs')-%>
<div class="wrapper">
<div class="container">
<% chunk.forEach((events)=> {%>
    <br>
    
    <div class="row">
   
        <% events.forEach((event)=> {%>
            <div class="col-md-6 col-lg-4">
                <div class="card mx-30">
                <!-- <img src="https://i.postimg.cc/WzjcC7Hb/1.jpg" class="card-img-top" alt="..."> -->
                <div class="card-body">
                    <div class="title_nd_img">
                        
                            <img src="<%=event.picture%>"  class="img_rounded" alt="...">
                        
                    </div>
<br>
                    <h5 class="card-title"><%=event.name%></h5>
                    <h6><%=event.post%>></h6>
                    <p class="card-text">
                        <%= event.description%>
                    </p>
                    

                    <a href="<%= '/events/' + event.id%>" class="btn btn-secondary stretched-link card-title">Go somewhere</a>
                </div><!--./card-body-->
                </div><!--./card mx-30-->
            </div>
          <%})%>
    </div>
  <%})%>
</div> <!--.container-->
</div> <!--.wrapper-->


  <%-include('../partials/footer.ejs')-%>

